.numero-grid {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}


@media (max-width: 700px){
    .numero-grid {
        grid-column: 1;
    }


}

.numero-grid h3 {
    font-family: 'Playfair Display SC';
    font-size: 2rem;
    margin-bottom: .5rem;
}

.numero-grid span {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: #e54;
}